/* Startpage  Css
   By Dylan Araps */
html,
body,
ul {
  margin: 0;
  padding: 0; }

body {
  background: #0e0c0c;
  height: 100%;
  width: 100%; }

main {
  display: block;
  font-family: 'Hermit';
  width: 100%; }

h1 {
  color: #877B87;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 400px; }

hr {
  border: 0;
  border-top: 1px solid #B0C2D5;
  opacity: .4;
  width: 400px; }

ul {
  display: block;
  margin: 0 auto;
  width: 700px; }

li {
  color: #DFAC9A;
  font-size: 1.2em;
  line-height: 1.5;
  list-style: none;
  margin: 5px; }

a {
  color: #DFAC9A;
  text-decoration: none;
  transition: .2s; }
  a:hover {
    color: #a3a39f; }
